h1 {
}

body {
  text-align: center;
  background: #123;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Helvetica; sans-serif;
  margin: 0 auto;
}

ul {
  list-style-type: none;

}

li {
  text-decoration: none;
  display:inline;
  text-align:center;
  padding:inherit;
}

img {
  width:auto;
  height:auto;
border-radius: 25%;
}

p {
  font-size: 30px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: yellow;
  color: navy;
}
