h1 {
}

body {
  text-align: center;
  background: #123;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Helvetica; sans-serif;
  margin: 0 auto;

}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

li {
  text-decoration: inherit;
  display:inline;
  text-align:center;
  padding:inherit;
}

img {
  width:200px;
  height:200px;
border-radius: 25%;
}

p {
  font-size: 30px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: rgba(255, 254, 165, 0.5);;
  color: navy;
}
