*{
  margin:0;
  padding:0;
  border:0;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  font-family:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}

/*header{
  padding: 50px 0 0 0;
}*/

h1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
}

h1 sub {
  color: rgb(32,178,170);
  vertical-align:baseline;
}

h1 sub:before {
  content:"(";
}

h1 sub:after {
  content:")";
}
h2 {
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
}

a {
  color: orange;
}

a:hover{
  color: rgb(32,178,170);
}

section {
  border-top:2px dashed #eee;
  padding:50px 10px;
  max-width:800px;
  margin:0 auto;
}

section:target h1{
  animation:flash 1s;
}
@keyframes flash{
  from{
    text-shadow: 5px 5px 0px rgb(32,178,170);
  }
  to{
    text-shadow: 0px 0px 0px rgb(32,178,170);
  }
}

#headshot {
  border-radius: 50%;
  height: 200px;
  border: 13px solid orange ;
}

/*.head {
  transition:transform 1s;
}

.head:hover{
  transform:rotate(360deg);
  border:10px solid red;
}*/

#words {
  width: 30%;
  height: auto;
  float: right;
  padding-right: 100px;
}

address{
  white-space:pre-line;
  margin: 20px;
}

.hero {
  /*outline: 1px solid grey;*/
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  padding: 0;
}



html, body {
  text-align: center;
  /*background: rgb(25,25,112);*/
  /*background: rgb(32,178,170);*/

  background-size: cover;
  background-position: center;
  /*background-image: url("image-1.jpg");*/

  color: grey;
  font-family: "Helvetica Neue", Helvetica; sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444
  margin: 0 auto;
  /*text-shadow: 1px 1px 0px #fff;*/

}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

li {
  text-decoration: inherit;
  display:inline;
  text-align:center;
  padding:inherit;
}

img {
  text-align: left;
  height:400px;
  border-radius: 0%;
}

p {
  font-size: 25px;
  border: 10px;
}

/*input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}*/

/*.list li {
  display:inline;
  font-weight: bold;
}

.list li:not(:last-child):after {
  content: ", ";
}*/

/*.blocklist > li {
  display: flex;
  justify-content: center;
}*/


.prose{
  /*text-align: center;*/
  /*max-width: none;*/
  /*margin: 0 auto;
  display: flex;
  margin:20px auto;*/
  /*list-style-position:inside;*/
}

.nav {
  width:100%;
  display:flex;
  position:fixed;
  z-index:9999;
}
.nav li{
  list-style-type:none;
  flex-grow:1;
}
.nav li a{
  display:block;
  line-height:50px;
  background-color:orange;
  color:grey;
  /*text-shadow: 1px 1px 0px grey;*/
  transition:background-color 0.2s;
}

.nav li a:hover{
  background-color:rgb(32,178,170);
}

.project {
  font-size: 30px;
  padding: 20px 0 0 0;
}

/*@media (max-width:500px){
  body{

  }
}*/
