*{
  margin:0;
  padding:0;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}

h1 {
}

#words {
  width: 30%;
  height: auto;
  float: right;
}

body {
  text-align: center;
  background: rgb(25,25,112);
  background-size: cover;
  background-position: center;
  /*background-image: url("image-1.jpg");*/
  background-color: navy;
  /*background-position: right top;*/
  color: white;
  font-family: Helvetica; sans-serif;
  margin: 0 auto;

}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

li {
  text-decoration: inherit;
  display:inline;
  text-align:center;
  padding:inherit;
}

img {
  /*width:200px;*/
  text-align: left;
  height:400px;
  border-radius: 0%;
}

p {
  font-size: 30px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: rgba(255, 254, 165, 0.5);;
  color: navy;
}
